.top-container {
  background-image: url("../../images/pattern-bg.png");
  background-repeat: no-repeat;
  min-height: 300px;
  width: 100vw;
  padding: 26px 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
  position: relative;

  .top-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .top-inner-container-title {
      font-weight: 500;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: -0.232143px;
      color: #ffffff;
    }
  }
  .top-bottom-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
